/* All Use components */

/* Set Global Material Typography */
/* Headline font based on NASA Space Apps 2021 */
@use "@material/typography" with
  (
    $styles-headline1: (
      font-family: unquote("Fira Sans"),
      font-weight: 700,
    ),
    $styles-headline2: (
      font-family: unquote("Fira Sans"),
      font-weight: 700,
    ),
    $styles-headline3: (
      font-family: unquote("Fira Sans"),
      font-weight: 700,
    ),
    $styles-headline4: (
      font-family: unquote("Fira Sans"),
      font-weight: 700,
    ),
    $styles-headline5: (
      font-family: unquote("Roboto"),
    ),
    $styles-headline6: (
      font-family: unquote("Roboto"),
      font-weight: 400,
    ),
    $styles-body1: (
      font-family: unquote("Roboto"),
    ),
    $styles-body2: (
      font-family: unquote("Roboto"),
    ),
    $styles-subtitle1: (
      font-family: unquote("Roboto"),
    ),
    $styles-subtitle2: (
      font-family: unquote("Roboto"),
    ),
    $styles-button: (
      font-family: unquote("Roboto"),
    ),
    $styles-overline: (
      font-family: unquote("Roboto"),
    ),
    $styles-caption: (
      font-family: unquote("Roboto"),
    )
  );

/* Must be configured before any other use/import that imports MDC styles */
@use "@material/button/styles";
/* Theme */
@use "@material/theme/custom-properties";
/* Customize button */
@use "@material/button";
/* Top app bar */
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
/* Grid */
@use "@material/layout-grid/mdc-layout-grid";
/* Shape */
@use "@material/shape";
/* Card */
@use "@material/card";
/* Image List */
@use "@material/image-list/mdc-image-list";
/* Customize Image List */
@use "@material/image-list";
/* Elevation */
@use "@material/elevation/mdc-elevation";
/* Tab bar*/
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
/* Typography */
@use "@material/typography/mdc-typography";
/* Ripple*/
@use "@material/ripple";

/* Cards */
@include card.core-styles;
/* Top app bar */
@include icon-button.core-styles;
/* Cards */
@include card.core-styles;

/* Drawer*/
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
/* Tabs */
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";
/* Font*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Roboto:wght@300;400;500&display=swap");

/* Set theme */
/* Color based on NASA Space Apps 2021 */
:root {
  --mdc-theme-primary: #0960e1;
  --mdc-theme-on-primary: #ffffff;
  --mdc-theme-secondary: #166ef1;
  --mdc-theme-on-secondary: #ffffff;
  --mdc-theme-on-error: #000000;
  --mdc-theme-surface: #ffffff;
  --mdc-theme-on-surface: #000000;
  --mdc-theme-background: #ffffff;
  --mdc-shape-small: 4px;
  --mdc-shape-medium: 4px;
  --mdc-shape-large: 0px;
  --mdc-typography--font-family: "FiraSans+Roboto";
}

/* Shape */
.mdc-button,
.mdc-text-field {
  border-radius: var(--mdc-shape-small);
}

.mdc-drawer {
  border-radius: 0 var(--mdc-shape-large) var(--mdc-shape-large) 0;
}

/* Color */
/* Top app bar*/
.mdc-top-app-bar .mdc-top-app-bar__action-item,
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
  color: var(--mdc-theme-on-surface);
}
.mdc-top-app-bar,
.mdc-top-app-bar__navigation-icon {
  background: var(--mdc-theme-surface);
  color: var(--mdc-theme-on-surface);
}

/* Drawer */
.mdc-drawer .mdc-list-item--activated,
.mdc-drawer .mdc-list-item--selected {
  color: var(--mdc-theme-primary);
}
.mdc-drawer .mdc-list-item--hover {
  color: var(--mdc-theme-secondary);
}

.links {
  color: var(--mdc-theme-primary);
}

hr {
  background: var(--mdc-theme-primary);
}

// Styles
* {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
  max-width: 1500px;
}

/* Spacing between sections */
.section-container {
  margin-bottom: 6em;
}

/* Padding headings */
.meet-the-team-heading,
.collaborator-heading,
.whats-next-heading {
  padding-top: 0.5em;
}

/* Fill the height of the top app bar with the tab bar */
.mdc-top-app-bar__section {
  padding-top: 0;
  padding-bottom: 0;
}

/* Hide top bar navigation icon */
.mdc-top-app-bar__navigation-icon {
  display: none;
}
/* BREAKPOINT for viewport widths <1024x */
@media (max-width: 1024px) {
  .mdc-top-app-bar__navigation-icon {
    display: block;
  }
  .mdc-tab-bar {
    display: none;
  }
}

/* Body text */
.body-text-container {
  max-width: 800px;
}
/* Size link open in new window icon 
sizing same as mdc-typography--body1 */
.open-in-new-window {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}
/* BREAKPOINT for viewport widths <1025px 
sizing same as mdc-typography--body2 */
.open-in-new-window {
  @media (max-width: 1025px) {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}

/* Add link dectoration */
.links {
  text-decoration: underline;
}

/* <hr> */
hr {
  height: 4px;
  border: 0;
  margin-right: 20vh;
}
/* BREAKPOINT for viewport widths >920 */
@media screen and (max-width: 920px) {
  hr {
    margin-right: 0;
  }
}

/* Meet the team */
/* Style team member's name*/
.team-card__text-label {
  padding: 0.5em 0;
  text-align: center;
}

/* Hide outlines on team cards */
.team-card-outline {
  border-width: 0;
}

/* Size and padd image grids */
.meet-the-team-grid-container {
  max-width: 900px;
}
.collaborator-logo-grid-container {
  // max-width: 800px;
}

/* Add padding to image grids */
.collaborator-logo-grid-container,
.meet-the-team-grid-container {
  padding-top: 1.5em;
}
