/* All Use components */
/* Set Global Material Color */
@use "@material/theme" with
  (
    /* Secondary color based on NASA Space Apps 2021 */ $primary: #fff,
    $on-primary: #000,
    $secondary: #0960e1,
    $on-secondary: #fff,
    $surface: #fff,
    $on-surface: #000,
    $background: #fff
  );

/* Set Global Material Typography */
@use "@material/typography" with
  (
    /* Fonts based on NASA Space Apps 2021 */ $font-family:
      unquote('"Fira Sans", Helvetica, sans-serif'),
    $styles-headline1: (font-family: unquote("Fira Sans"), font-weight: 700),
    $styles-headline2: (font-family: unquote("Fira Sans"), font-weight: 700),
    $styles-headline3: (font-family: unquote("Fira Sans"), font-weight: 700),
    $styles-headline4: (font-family: unquote("Fira Sans"), font-weight: 700),
    $styles-headline5: (font-family: unquote("Roboto")),
    $styles-headline6: (font-family: unquote("Roboto")),
    $styles-body1: (font-family: unquote("Roboto")),
    $styles-body2: (font-family: unquote("Roboto")),
    $styles-subtitle1: (font-family: unquote("Fira Sans")),
    $styles-subtitle2: (font-family: unquote("Fira Sans")),
    $styles-button: (font-family: unquote("Roboto")),
    $styles-overline: (font-family: unquote("Roboto")),
    $styles-caption: (font-family: unquote("Roboto"))
  );

/* Must be configured before any other use/import that imports MDC styles */
@use "@material/button/styles";
/* Theme */
@use "@material/theme/custom-properties";
/* Customize button */
@use "@material/button";
/* Top app bar */
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
/* Typography */
/* Grid */
@use "@material/layout-grid/mdc-layout-grid";
/* Shape */
@use "@material/shape";
/* Typography */
@use "@material/typography/mdc-typography";
/* Card */
@use "@material/card";
/* Image List */
@use "@material/image-list/mdc-image-list";
/* Customize Image List */
@use "@material/image-list";
/* Elevation */
@use "@material/elevation/mdc-elevation";
/* Tab bar*/
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";

/* Drawer*/
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
/* Cards */
@include card.core-styles;

/* All include components */
/* Top app bar */
@include icon-button.core-styles;
/* Cards */
@include card.core-styles;

/* Tabs */
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";

/* 
Use Global set to Material typography. individual sets can also be changed w/ 
ex: class="mdc-typography-headline4"
*/
h1 {
  @include typography.typography(headline1);
}
h2 {
  @include typography.typography(headline2);
}
h6 {
  @include typography.typography(headline6);
}
.team-card__text-label {
  margin: 0 16px;
  @include typography.typography(body1);
  @include mdc-typography-baseline-top(32px);
}

/* BREAKPOINT for viewport widths <1025px */
@media (max-width: 1025px) {
  h1 {
    @include typography.typography(headline2);
  }
  h2 {
    @include typography.typography(headline3);
  }
}

/* Use global color */
$alternate-secondary: #c81628;
.links:hover {
  color: $alternate-secondary;
}

/* Material Design Global Color */
.mdc-top-app-bar__title,
.links {
  @include theme.property(color, secondary);
}
hr,
.hero-button {
  @include theme.property(background, secondary);
}
.mdc-button--outlined:not(:disabled) {
  @include theme.property(color, secondary);
}

* {
  /* Toggle Comment border-style & color (on/off) to see layout border */
  // border-style: solid;
  // border-color: #c22b10;

  text-decoration: none;
  box-sizing: border-box;
}

html {
  display: block;
}
body,
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.homepage-section {
  text-size-adjust: 100%;
  overflow: auto;
  margin: 0 auto;
  max-width: 1500px;
}

/* Top app bar */
/* Add padding to small logo */
// .logo-small {
//   padding-top: 4px;
// }

/* Reset List Styles */
.nav-list {
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0;
  padding: 0em;
  height: 100%;
}

/* Style the list items side by side */
.nav-list-item {
  list-style-type: none;
  position: relative;
  padding: 0.5em;
}

/* Fill the height of the top app bar with the tab bar */
.mdc-top-app-bar__section {
  padding-top: 0;
  padding-bottom: 0;
}

/* Hide top bar navigation icon */
.mdc-top-app-bar__navigation-icon {
  display: none;
}
/* BREAKPOINT for viewport widths <1024x */
@media (max-width: 1024px) {
  .mdc-top-app-bar__navigation-icon {
    display: block;
  }
  .tab-list {
    display: none;
  }
}

/* Subtitle text */
.subtitle-container {
  margin-top: 2em;
}
/* BREAKPOINT for viewport widths >920* */
@media screen and (min-width: 920px) {
  .subtitle-container {
    max-width: 900px;
  }
}

/* Spacing between sections */
.home-page-section {
  margin-bottom: 6em;
}

/* Add link dectoration */
.links {
  text-decoration: underline;
}

/* same measurements as body1 */
.open-in-new-window {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}
/* BREAKPOINT for viewport widths <1025px
   same measurements as body2  */
.open-in-new-window {
  @media (max-width: 1025px) {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}

/* <hr> */
hr {
  height: 4px;
  border: 0;
  margin-right: 20vh;
}
/* BREAKPOINT for viewport widths >920 */
@media screen and (max-width: 920px) {
  hr {
    margin-right: 0;
  }
}

/* Meet the team */
.meet-the-team-grid {
  margin-right: 60vh;
}
.meet-the-team-heading,
.collaborator-heading,
.whats-next-heading {
  padding-top: 0.5em;
}
.meet-the-team-cards {
  padding: 2em 0;
}

/* BREAKPOINT for viewport widths >920*/
@media screen and (max-width: 920px) {
  .meet-the-team-grid,
  .collaborator-logo-grid {
    margin: 0;
  }
}
.team-card__text-label {
  text-align: center;
}

/* Remove card outline */
.mdc-card--outlined {
  border-width: 0;
}

/* Collaborator image grid */
.collaborator-logo-grid {
  margin-right: 60vh;
}
/* BREAKPOINT for viewport widths >920*/
@media screen and (max-width: 920px) {
  .collaborator-logo-grid {
    margin: 0;
  }
}
